@charset "UTF-8"
/*! style.css */
@import '../__utility/css/modules/*'

$pw = 1024
$sw = 750
@media only screen and (min-width: 751px)
  body
    background #fff

@media only screen and (max-width: 750px)
  body
    background #fff

