@import '../../__utility/css/modules/_module.styl'

@media only screen and (min-width: 751px)
  footer
    background red
    padding 100px 0

@media only screen and (max-width: 750px)
  footer
    background red
    padding percentage(100/$sw) 0