@import '../../__utility/css/base/_reset'
@import '../../__utility/css/base/_font'
@import '../../__utility/css/base/_core'
@import '../../__utility/css/modules/_module'
/*! common.css */
body
  background #ddd