@charset "UTF-8"
/*! common/style.css */
@import 'nib'
@import 'nib/reset'
@import 'nib/gradients'
normalize-css()
@import '../../__utility/css/modules/*'
@import '_font.styl'
body
  font-family "ns", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック体", "Yu Gothic", YuGothic,sans-serif
  line-height 1.5
#svg
  display none
@media only screen and (min-width: 751px)
  img
    display inline-block
    max-width 100%
    height auto
  .display-sp
    display none

  a
    text-decoration none
    .on
      display none
    &:hover
      .off
        display none
      .on
        display inherit
  .over
    &:hover
      img
        opacity .8
  main
    padding 85px 0 0 0

@media only screen and (max-width: 750px)
  img
    display block
    width 100%
    height auto
  .display-pc
    display none
  a
    text-decoration none
  main
    padding vieww(120/$sw) 0 0 0

@import '_header.styl'
@import '_footer.styl'